.form-container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.login-form {
	padding: 5%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
}

.login-form h3 {
	text-align: center;
	color: #333;
}

.login-form h5 {
	text-align: center;
	color: #333;
}

.entry-form {
	padding: 4%;
	background: #2D9EE0;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
}

.entry-form h3 {
	text-align: center;
	color: #fff;
}

.entry-form h5 {
	text-align: center;
	color: #fff;
}

.form-container form {
	padding: 5%;
}

.btnSubmit {
	width: 100%;
	border-radius: 1rem;
	padding: 2%;
	border: none;
	cursor: pointer;
}

.login-form .btnSubmit {
	font-weight: 600;
	color: #fff;
	background-color: #008952;
}

.entry-form .btnSubmit {
	font-weight: 600;
	color: #0062cc;
	background-color: #fff;
}

.entry-form .ForgetPwd {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.login-form .ForgetPwd {
	color: #0062cc;
	font-weight: 600;
	text-decoration: none;
}