.reset, html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
	h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
	sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
	aside, canvas, details, embed, figure, figcaption, footer, header,
	hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
	video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	overflow: hidden;
}

.reset_2, caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

html {
	line-height: 1;
	position: relative;
	height: 100%;
	font-size: 16px;
	font-family: Lato, sans-serif;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding-top: 53px;
	padding-bottom: 64px;
	font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

#container {
	display: inline;
}

#loading {
	position: absolute;
	left: 40%;
	top: 40%;
}

.loading_message {
	color: #555459;
	font-size: 1.4rem;
	font-weight: 900;
}

.loading_img {

}

blockquote {
	quotes: none;
}

blockquote:before {
	content: "";
	content: none;
}

blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

img:hover {
	filter: alpha(opacity = 80);
	opacity: 0.8;
}

q {
	quotes: none;
}

q:before {
	content: "";
	content: none;
}

q:after {
	content: "";
	content: none;
}

ol {
	list-style: none;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article {
	display: block;
}

aside {
	display: block;
}

details {
	display: block;
}

figure {
	display: block;
}

figcaption {
	display: block;
}

footer {
	display: block;
}

header {
	display: block;
}

hgroup {
	display: block;
}

menu {
	display: block;
}

nav {
	display: block;
}

section {
	display: block;
}

summary {
	display: block;
}

main {
	display: block;
}

hr {
	margin-top: 20px;
	border-top: 1px solid #bbb;
}

* {
	box-sizing: border-box;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 53px;
	width: 100%;
}

.main {
	height: 100%;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 64px;
	width: 100%;
}

.team-menu {
	position: relative;
	width: 220px;
	line-height: 53px;
	font-weight: 900;
	padding: 0 1rem;
	color: #ffffff;
	background: #3e313c;
	border-bottom: 2px solid #372c36;
	float: left;
	cursor: pointer;
}

.channel-menu_name {
	display: inline-block;
	padding: 0.2rem;
	color: #555459;
	font-size: 1.4rem;
	line-height: 53px;
	font-weight: 900;
	cursor: pointer;
	line-height: 53px;
	font-weight: 900;
}

.channel-menu_prefix {
	padding-left: 1.0rem;
	padding-right: 0.2rem;
}

.channel-memberadd_img {
	vertical-align: middle;
	padding-left: 0.8rem;
	padding-bottom: 0.5rem;
}

.membercnt {
	font-size: 14px;
	color: #8b898f;
}

.listings {
	height: 100%;
	width: 220px;
	float: left;
	color: #ab9ba9;
	background-color: #4d394b;
	overflow-y: auto;
	overflow-x: hidden;
}

.message-history {
	margin-left: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding: 0 18px 1rem 1.5rem;
	overflow: scroll;
	overflow-x: hidden;
}

.listings_channels {
	margin: 1rem 0 2rem;
}

.listings_header {
	text-align: left;
	font-size: 1.0rem;
	line-height: 1.25rem;
	margin: 0 1rem 0.1rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #ab9ba9;
	width: 200px;
	position: relative;
}

.listings_header_img {
	float: right;
	padding-right: 15px;
}

.channel_list {
	list-style-type: none;
	text-align: left;
	color: #ab9ba9;
}

.channel {
	height: 24px;
	line-height: 24px;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	margin-right: 17px;
	color: #ffffff;
	padding-left: 1rem;
}

.channel:hover {
	background-color: #333333;
}

.channel.active {
	background: #4c9689;
}

.unread {
	color: #ffffff;
	background: #eb4d5c;
	border-radius: 9px;
	padding: 2px 9px;
	font-size: 0.8rem;
	line-height: 14px;
	font-weight: 700;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}

.channel_prefix {
	color: #b2d5c9;
}

.disclaimer {
	font-size: 0.8rem;
	padding-left: 1rem;
	margin-right: 17px;
}

.message {
	position: relative;
	margin-top: 0.5rem;
	padding: 0.25rem 2rem 0.1rem 3rem;
	min-height: 36px;
}

.message:hover {
	background-color: #fcfcfc;
}

.message_profile-pic {
	position: absolute;
	left: 0;
	display: block;
	border-radius: 0.2rem;
	width: 36px;
	height: 36px;
	background-image: url(../img/db.png);
	background-size: cover;
}

.message_username {
	font-weight: 900;
	padding-right: 0.25rem;
	color: #3d3c40 !important;
	margin-left: 0;
	font-style: normal;
	text-decoration: none;
}

.message_timestamp {
	text-align: left;
	display: inline;
	position: relative;
	top: 0;
	left: 0;
	color: #babbbf;
	font-size: 12px;
	line-height: 1.2rem;
	width: 36px;
	margin-right: 0;
	margin-left: 0;
}

.message_content {
	color: #8b898f;
	font-style: italic;
	display: block;
	min-height: 1rem;
}

.user-menu {
	float: left;
	width: 220px;
	height: 100%;
	cursor: pointer;
	background: #3e313c;
	border-top: 2px solid #372c36;
	padding: 7px 0 9px 8px;
	height: 4rem;
	position: fixed;
	bottom: 0;
	left: 0;
}

.user-menu_profile-pic {
	display: inline-block;
	float: left;
	border-radius: 0.2rem;
	width: 48px;
	height: 48px;
	background-image: url(../img/d.png);
	background-size: cover;
	margin-right: 8px;
}

.user-menu_username {
	display: block;
	color: #ffffff;
	font-weight: 900;
	line-height: 1.5rem;
	margin-top: 0.2rem;
	max-width: 120px;
}

.connection_icon {
	width: 12px;
	height: 12px;
}

.connection_status {
	color: #ab9ba9;
}

.input-box {
	display: flex;
	height: 100%;
	margin-left: 225px;
	min-width: 512px;
}

.input-box_text {
	font-size: 0.95rem;
	width: 95%;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: auto;
	line-height: 1.2rem;
	border: 2px solid rgba(145, 145, 147, .7);
	border-radius: 0.375rem;
	background-clip: padding-box;
	color: #3d3c40;
	box-shadow: none;
	outline: 0;
	bottom: 0;
	min-height: 44px !important;
	padding: 9px 5px 9px 8px;
}

.input-box_button {
	height: 44px;
	margin-top: 4px;
	margin-left: 4px;
	border-radius: 0.375rem;
	/* 角丸       */
	font-size: 0.98rem;
	font-weight: bold;
	/* 文字サイズ */
	text-align: center;
	/* 文字位置   */
	cursor: pointer;
	/* カーソル   */
	padding: 12px 12px;
	/* 余白       */
	background: #e8e8e8;
	/* 背景色     */
	color: rgba(44, 45, 48, .75);
	/* 文字色     */
	line-height: 1em;
	/* 1行の高さ  */
	transition: .3s;
	/* なめらか変化 */
	border: 1px solid #f5f5f5;
	/* 枠の指定 */
}

div::-webkit-scrollbar {
	width: 12px;
}

div::-webkit-scrollbar-track {
	background: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: inset 0 0 2px #777;
}

div::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 10px;
	box-shadow: none;
}
a {
	text-decoration: none;
	color: #ffffff;
}
.button {
  display       : inline-block;
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 0px 0px;   /* 余白       */
  background    : #4d394b;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #4d394b;    /* 枠の指定 */
}
.listings_header_img {
	float: right;
	padding-right: 15px;
}
.search-box {
	float : right;
	display: flex;
	height: 50%;
	margin-left: 50px;
	min-width: 10px;
}
.search-box_text {
	font-size: 0.95rem;
	width: 50%;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: auto;
	line-height: 1.2rem;
	border: 2px solid rgba(145, 145, 147, .7);
	border-radius: 0.375rem;
	background-clip: padding-box;
	color: #3d3c40;
	box-shadow: none;
	outline: 0;
	bottom: 0;
	min-height: 44px !important;
	padding: 9px 5px 9px 8px;
}
.button-OR {
  float: right;
  display       : inline-block;
  line-height	: 53px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 7px;   /* 余白       */
  margin		: 10px 50px;;
  background    : #e5e5e5;     /* 背景色     */
  color         : rgba(153, 153, 153, 0.93);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
}
.button-join {
  float: right;
  display       : inline-block;
  line-height	: 53px;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 7px;   /* 余白       */
  margin		: 10px 50px;;
  background    : #e5e5e5;     /* 背景色     */
  color         : rgba(153, 153, 153, 0.93);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
}